@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-preto: #000000;
    --cor-AquaPastel: #C6E6EA;
    --cor-branco: #ffffff;
    --cor-NeuralBlue: #1B9AAA;
    --cor-cianoclaro: #8DCDD5;

    --borda: 1px solid var(--cor-preto);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

@font-face {
    font-family: Sigmar One;
    src: url(../fonts/SigmarOne-Regular.ttf);
}

*{
    font-family: "Inter", sans-serif;   
    padding: 0;
    margin: 0;
    box-sizing: border-box;/* o valor total do tamanho do elemento conta tanto com espacos interno e externo e borda*/    
}

body{
    background-color: var(--cor-cianoclaro);
}

h1{
    position: absolute;/**/
    z-index: -1;
    opacity: 0;
}

input{
    width: 100%;
    height: 35px;
    border: var(--cor-preto);
    background-color: var(--cor-cianoclaro);
}

.formulario-botao-azul{
    background-color: var(--cor-cianoclaro);
    border-radius:  var(--borda-arredondada);
    border: nome;/*removendo a bordar*/
    height: 50px;
    width: 30%;
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

#campo-upload{
    display: none;
}

#texto-upload{
    display: inline-block;
    width: 30%;
    max-width: 300px;
    min-height: 35;
    padding: 5px 0  ;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    text-align: center;
    font-weight: 600;
    border-radius: var(--borda-arredondada);
}

/* cabecalho */
#cabecalho{
    width: 100%; /*100% da janela de visualizacao*/
    height: 80px;
    background-color: var(--cor-branco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--cor-preto);
}

#cabecalho > nav{
    background-color: var(--cor-branco);
    width: 80%;
    max-width: 1440px;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-mobile{
    display: none;/*remove a exibicao da imagem*/
}

.cabecalho-acoes{
    background-color: var(--cor-branco);
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}

.foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover; /*redimensiona a foto*/
    object-position: center;
    border-radius: 50%;
}

/* RESPONSIVO */

@media only screen and (max-width: 485px) {
  #logo-mobile{
    display: initial;
  }

#logo-desktop{
    display: none;
}

}


